* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Comic sans, Arial, Times-New-Roman; 
}


body {
    min-height: 100vh;
    background: linear-gradient(98deg, #7d285f, #d4a7c4, #524c50);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.container {
    width: 100%;
    max-width: 300px ;
    text-align: center;
    padding: 30px 20px;
}


.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 15px;
}


h1 {
    font-size: 26px;
    margin-bottom: 8px;
}


.bio {
    font-size:12px; 
    opacity: 0.85;
    margin-bottom: 25px;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.link-btn {
    background:#e6d5be; 
    border-radius: 10px;
    padding: 2px, 10px; 
    text-decoration: none;
    color: red ; 
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    transition: all 0.3s ease;
}

.link-btn img {
    width: 20px ;
    height: 20px;
}

.link-btn:hover {
    background: white;
    color: #c33764;
    transform: scale(1.05);
}

footer {
    margin-top: 30px;
    font-size: 12px;
    opacity: 0.7;
}

/* Feel free to change the other parameters and do tests with the css */

